/* Reset */
* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
}

html {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 30px;
}

body {
    background-color: #f8f8f8;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}


/* Cabeçalho */
h1 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Estilo da pergunta */
#pergunta {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

/* Estilo para o quadro de respostas */
#quadro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    max-width: 600px;
}

/* Estilo para cada capital */
.capital {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    width: 150px; /* Tamanho fixo para cada opção */
    text-align: center;
}

.capital:hover {
    background-color: #e0e0e0;
}

/* Estilo para a mensagem de resposta */
#mensagem {
    font-size: 1.2rem;
    margin: 20px 0;
    color: green;
    text-align: center;
}

#mensagem.erro {
    color: red;
}

/* Estilo para o botão */
button {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f850af;
    border: none;
    color: #fff;
    border-radius: 50px;
    font-size: 1rem;
    text-align: center;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    opacity: 0.9;
}

/* Layout para dispositivos móveis */
@media only screen and (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
    }
    #quadro {
        max-width: 100%;
    }
    .capital {
        font-size: 1rem;
        width: 100px; /* Ajustando o tamanho das opções para dispositivos móveis */
    }
    #pergunta {
        font-size: 1.3rem;
    }
    #mensagem {
        font-size: 1rem;
    }
}

/* Adiciona uma borda verde às respostas corretas */
.capital.resposta-correta {
    border-color: #3cb371;
}

/* Adiciona uma borda vermelha às respostas incorretas */
.capital.resposta-incorreta {
    border-color: #ff5a5f;
}
