/* Reset */
* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
}

html {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;  /* Ajustado para um valor mais comum */
}

body {
    background-color: #f8f8f8;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Cabeçalho */
#header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#logo {
    width: 50px; /* Tamanho da logo */
    margin-right: 10px; /* Espaçamento entre logo e título */
}

h1 {
    color: #333;
    font-size: 2rem;
}

/* Estilo da pergunta */
#pergunta {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

/* Estilo para o quadro de respostas */
#quadro {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    margin: 20px auto;
    max-width: 600px;
    width: 100%;
}

/* Estilo para cada capital */
.capital {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    text-align: center;
}

.capital:hover {
    background-color: #e0e0e0;
}

/* Estilo para a mensagem de resposta */
#mensagem {
    font-size: 1.2rem;
    margin: 20px 0;
    color: green;
    text-align: center;
}

#mensagem.erro {
    color: red;
}

/* Estilo para o botão */
button {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f850af;
    border: none;
    color: #fff;
    border-radius: 50px;
    font-size: 1rem;
    text-align: center;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    opacity: 0.9;
}

/* Layout para dispositivos móveis */
@media only screen and (max-width: 1180px) {
    body {
        margin: 0;
        padding: 0;
    }

    /* Ajusta o quadro para garantir que as opções sejam distribuídas corretamente */
    #quadro {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 colunas */
        gap: 10px;
        max-width: 80%;
        width: 80%;
    }

    /* Ajusta as opções de respostas para se manterem dentro da largura da tela */
    .capital {
        font-size: 1rem;
        width: 100%; /* Assegura que cada opção ocupe o espaço completo disponível dentro da coluna */
        height: 60px; /* Ajuste o tamanho das opções para dispositivos móveis */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Ajuste do tamanho da pergunta */
    #pergunta {
        font-size: 1.3rem;
        text-align: center; /* Garante que a pergunta fique centralizada */
    }

    /* Ajuste do tamanho da mensagem */
    #mensagem {
        font-size: 1rem;
        text-align: center; /* Garante que a mensagem fique centralizada */
    }
}

/* Adiciona uma borda verde às respostas corretas */
.capital.resposta-correta {
    border-color: #3cb371;
}

/* Adiciona uma borda vermelha às respostas incorretas */
.capital.resposta-incorreta {
    border-color: #ff5a5f;
}

/* Ajustes para evitar conflitos e garantir consistência */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
